<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="rockMusicBean"
          class="org.yanchuk.springcourse.RockMusic">
    </bean>
    <bean id="classicalMusicBean"
          class="org.yanchuk.springcourse.ClassicalMusic">
    </bean>
    <bean id="reggaeMusicBean"
          class="org.yanchuk.springcourse.ReggaeMusic">
    </bean>

    <bean id="musicBean"
          class="org.yanchuk.springcourse.ClassicalMusic"
          init-method="myInitMethod"
          destroy-method="muDestroyMethod">
    </bean>

    <bean id="musicBeanForProto"
          class="org.yanchuk.springcourse.ClassicalMusic"
          init-method="myInitMethod"
          destroy-method="muDestroyMethod"
          factory-method="getClassicalMusic"
          scope="prototype">
    </bean>

    <bean id="musicPlayer"
          class="org.yanchuk.springcourse.MusicPlayer"
          scope="prototype">
        <property name="music">
            <list value-type="musicBean">
                <ref bean="rockMusicBean"/>
                <ref bean="classicalMusicBean"/>
                <ref bean="reggaeMusicBean"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>